.main {
    width: 500px;
    height: 500px;
    background: tomato;
    padding: 10px 100px; 
    padding: 10px 50px 100px 200px;  /* uncomment this and try it out */
  }
  
  .child {
    background: orange;
    width: 100%;
    height: 100%;
  }